<header>
<h1>List of books</h1>
<div class="dropdown">
  <button class="dropbtn">Filter by Rating</button>
  <div class="dropdown-content">
    <a href="/rating/3">3+ star</a>
    <a href="/rating/5">5+ star</a>
    <a href="/rating/7">7+ star</a>

   </div>
</div>
</header>
<h4></h4>
<div id="books-container">
    {{#each booksRating}}
    <div class="container">
    <h4>{{this.title}}</h4>
    <h5>{{this.rating}}/10</h5>
    <a href="/books/{{this._id}}">More Details</a>
    </div>
    {{/each}}
</div>
<a href="/books/new">Add a new book</a>