<div id="create-container">
<h2>Create a book</h2>
<div>
<form action="/books/create" method="POST">
  <label> Title:
    <input type="text" name="title"/>
  </label>

  <label> Author: <br/>
  <select name="author">
    {{#each author}}
    <option value="{{_id}}">{{title}}</option>
    {{/each}}
    </select>
    </br>
    <br>
     {{!-- <label> Other: <input type="text" name="author" />
  </label> --}}

  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

  <label> Rate:
    <input type="number" name="rating" min="1" max="10" />
  </label>

  <button type="submit"> Create </button>
</form>
</div>
</div>

