<h2>List of books</h2>
<div id="books-container">
    {{#each books}}
    <div class="container">
    <h4>{{this.title}}</h4>
    <a href="/books/{{this._id}}">More Details</a>
    </div>
    {{/each}}
</div>
<a href="/books/new">Add a new book</a>