<div id="create-container">
<h2>Add an author</h2>
<div>
<form action="/author/create" method="POST">
  <label> Title:
    <input type="text" name="title"/>
  </label>

  <label> Favourite Book:
    <input type="text" name="favouriteBook"> </input>
  </label>

  <label> Country:
    <input type="text" name="country"> </input>  
  </label>

  <button type="submit"> Create </button>
</form>
</div>
</div>

